.App {
  text-align: center;
  background-color: rgb(0, 0, 0);
  flex-direction: column;
  display: flex;
  justify-content: center;

}

body{
  min-height: 100%;
}

.Search {
  text-align: center;
}

.SearchButton {
  margin-left: 2px;
  border-radius: 10%;
}

.Nav-Logout-Button {
  color: tomato;
  background-color: rgb(50, 45, 45);
  border-radius: 10%;
}

.ProfileForm {
  display: flex;
  flex-direction: column;
}

.profile-input {
  text-align: center;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ProfileForm-submit-btn {
  margin-top: 10px
}

.CompanyCard {
  margin: 10px;
  border: solid 2px tomato;
  padding: 3%;
  text-decoration: none;
  color: tomato;

}

.CompanyList-list{
  list-style-type: none;
}

.JobCardList {
  list-style-type: none;
}

.Homepage-login-btn {
  margin: 10px;
  border: solid 1px tomato;
  padding: 4px;
  text-decoration: none;
  color: tomato;
}

.Homepage-signup-btn {
  margin: 10px;
  border: solid 1px tomato;
  padding: 4px;
  text-decoration: none;
  color: tomato;
}

.CompanyDetail-name {
  color: tomato;
}

.CompanyDetail-description {
  color: tomato;
}

.SearchButton {
  color: tomato;
  background-color: rgb(50, 45, 45);
  border-radius: 10%;
}

.SearchForm-bar {
  color: tomato;
  background-color: grey;
}

.LoginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.SignupForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

