.Nav a {
  text-decoration: none;
  margin: 2rem;
  color: tomato;
}

.Nav a.active {
  font-weight: bold;
  text-decoration: underline;
}

.Nav {
  border: solid 1px black;
  background-color: rgb(90, 71, 71);
  margin-bottom: 10px;
}